<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On

    # Si el archivo o carpeta existe, búscalo directamente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Si no existe, redirige todo a index.php
    RewriteRule ^([\s\S]*)$ index.php?/$1 [L,QSA]
</IfModule>